{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'chat/chat.css' %}" />
	</head>
	<body onload="getMessages()">
		<div class="container" id="root-div">
			<h1 style="font-weight: 900; color: white;">Chat</h1>
			<div class="container" id="messages">
			</div>
			<div class="input-group mb-3" style="margin-top: 10px;">
				<input class="form-control" type="text" id="user-message" >
				<input type="hidden" id="user" value="{{ username }}"/>
				<div class="input-group-append">
					<button type="button" class="btn btn-success" onclick="sendMessage(13)">Enviar</button>
				</div>
			</div>
		</div>
		<script>

			document.getElementById('user-message').addEventListener('keypress', listenerKey);

			function listenerKey(event){
				if(event.key == 'Enter'){

					sendMessage();

				}
			}

			function getMessages(){

				socket = new WebSocket('ws://' + window.location.hostname + '/chat/getMessages');
				socket.onmessage = (event) => {

					var data = JSON.parse(event.data);
					var messages = [];
					var html = '';

					// This loop run through of each message to build each element.
					for(var c = 0; c < data.messages.length; c++){
						var text = '<div class="container" id="message"><ul class="ul-message" style="width: 100%; padding: 10px;"><li><div style="align-self: center;"><span>$1</span></div></li><li style="display: flex;"><div><span>$2</span></div></li><li style="position: relative; left: 50%; top: 10px;"><div><span>$3</span></div></li></ul></div></div>';

						text = text.replace('$1', data.messages[c].user);
						text = text.replace('$2', data.messages[c].message);
						text = text.replace('$3', `${data.messages[c].dateTime[0]}:${data.messages[c].dateTime[1]}`);

						html += text + '\n';

					}
					// Add new messages.
					document.getElementById('messages').innerHTML = html;
					// Scroll the view
					document.getElementById('messages').scrollTop += 100;

				}
			}

			function sendMessage(){
				// Get current input in user-message.
				var message = document.getElementById('user-message').value;

				// Check if input#user-message have some user entry
				if(message.length != 0){
					if(typeof socket != undefined){
						
						var data = {'message': message, 'user': document.getElementById('user').value};
						socket.send(JSON.stringify(data));
						document.getElementById('user-message').value = '';
						
					}
					else{
						setInterval(sendMessage, 1);
					}
				}
			}

		</script>
		<script>

			document.getElementById('messages').style.borderColor = '{{ interfaceColor }}';

		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	</body>
</html>